{% extends 'base2.html' %}
{% load sub_filter %}
{% block content %}
<section class="content-section bg-light" id="about">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <h2>K - 크롤러스 주간 프로젝트에 오신걸 환영합니다!</h2>
                        <p class="lead mb-5">
                            .
                        </p>
                        <a class="btn btn-primary btn-xl" href="../../blog/list">다음으로</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="content-section bg-primary text-white text-center" id="services">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading">
                    <h3 class="text-secondary mb-0">About</h3>
                    <h2 class="mb-5">Who We Are</h2>
                </div>
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-screen-smartphone"></i></span>
                        <h4><strong>김현아</strong></h4>
                        <p class="text-faded mb-0" align="left"> 슬로건 : 기분이 태도가 되지 않기</p>
                        <br>
                        <p class="text-faded mb-0" align="left"> 역할 : 데이터 수집, 데이터 크롤링</p>
                        <p class="text-faded mb-0" align="left"> 데이터 분석, 데이터 시각화</p>

                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-mustache"></i></span>
                        <h4><strong>권대훈</strong></h4>
                        <p class="text-faded mb-0" align="left">슬로건 : 좋은 생각만 하자</p>
                        <br>
                        <p class="text-faded mb-0" align="left">역할 : 데이터 수집, 데이터 크롤링</p>
                        <p class="text-faded mb-0" align="left"> 데이터 분석, 데이터 시각화</p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-like"></i></span>
                        <h4><strong>진용완</strong></h4>
                        <p class="text-faded mb-0">슬로건 : 오늘 하루 어떻게 살지는 내가 정한다!</p>
                        <br>
                        <p class="text-faded mb-0">역할 : 데이터 수집, 데이터 크롤링</p>
                        <p class="text-faded mb-0"> 데이터 분석, 데이터 시각화</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-pencil"></i></span>
                        <h4><strong>현지수</strong></h4>
                        <p class="text-faded mb-0">슬로건 : 행복합쉬다~!~</p>
                        <br>
                        <p class="text-faded mb-0">역할 : 데이터 수집, 데이터 크롤링</p>
                        <p class="text-faded mb-0"> 데이터 분석, 데이터 시각화</p>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}